<% include ./partials/header %>
<div class="container-fluid ">


  
<table class="table table-bordered ">
<thead class="table-active">
  <tr>
    <th scope="col">Roll No.</th>
    <th scope="col">Name</th>
    <th scope="col">Branch</th>
    <th scope="col">DMC Taken</th>
    <th scope="col">Updated On</th>
    <th scope="col">Action</th>

  </tr>
</thead>
<% students.forEach(function(student){ %>
<tbody>
  <tr>
    <th scope="row"><%= student.roll_no %></th>
    <td><%= student.name %></td>
    <td><%= student.branch %></td>
    <td><%= student.DMC %></td>
    <td><%= student.created.toDateString() %></td>
    <td><a href="/students/<%=student._id %>">More Information</a></td>
  </tr>
  <%})%>
</tbody>
</table>


</div>
<% include ./partials/footer %>