<% include ./partials/header %>
<div class="container-fluid ">


  
<table class="table table-striped table-bordered mydatatable student-table" style="width: 100%">
<thead >
  <tr>
    <th scope="col">Regn No.</th>
    <th scope="col">Name</th>
    <th scope="col">Branch</th>
    <th scope="col">Batch</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
  <% var i = 0 %>
<% students.forEach(function(student){ %>
  <% 
          i++;
  %>
  <tr>
    <th scope="row"><%= student.regn_no %></th>
    <td><%= student.name %></td>
    <td><%= student.branch %></td>
    <td><%= student.batch%> - <%= student.batch + 4 %></td>
  
    <td>
    <ul id="action">
    <li>
    <a href="/students/<%=student._id %>/result" class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="View Student"></a >
    </li>

    <li>
    <a href="/students/<%=student._id %>/edit" class="fas fa-user-edit" data-toggle="tooltip" data-placement="top" title="Edit Student"></a >  
    </li>

    <li>
    <form id="delete" action="/students/<%= student._id%>?_method=DELETE" method="POST">
    <button class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete Student"></button></form>
    
    
    </li>
    <li>
        <a href="/students/<%=student._id %>/results/new" class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Add Result">Result</a >  
        </li>
</ul>
    </td>
  </tr>
  <%})%>
</tbody>
</table>


</div>
       

<% include ./partials/footer %>