<!DOCTYPE html>
<html>
    <head>
        <title>Examination Management</title>
        
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
        <link rel="stylesheet" href="/stylesheets/all.css" >
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css" >

        </head>
        <body>

          <div class="d-flex" id="wrapper">
        
            <!-- Sidebar -->
            <div class=" border-right" id="sidebar-wrapper">
              <div class="sidebar-heading"><%= student.name %></div>
              <div class="list-group list-group-flush">

                <a href="#" class="list-group-item list-group-item-action ">Performance</a>
           
         
               
              </div>
            </div>
            <!-- /#sidebar-wrapper -->
        
            <!-- Page Content -->
            <div id="page-content-wrapper">
        
              <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">

                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/students/<%= student._id%>/results/new">Add Result</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/students">Home</a>
                    </li>
                    
                  </ul>
                </div>
              </nav>
      
<div class="container-fluid">
  


<table class="table table-bordered " id="performance">
<thead class="table-active">
  <tr>
    <th scope="col">Semester</th>
    <th scope="col">DMC No.</th>
    <th scope="col">Regn No.</th>
    <th scope="col">Roll No.</th>
    <th scope="col">Marks obtained</th>
    <th scope="col">Out of</th>
    <th scope="col">Reappear</th>
    <th scope="col">Last Updated</th>
    

  </tr>
  </thead>
  <% student.results.forEach(function(result){ %>
<tbody>
  <tr>
    <th scope="row"><%= result.sem %></th>
    <td><%=result.dmc_no %></td>
    <td><%= result.regn_no %></td>
    <td><%=result.roll_no %></td>
    <td><%=result.total_marks %></td>
    <td><%= result.max_marks %></td>
    <td><%=result.reappear %></td>
    <td><%= student.created.toDateString() %></td>
  </tr>
  <%})%>
</tbody>
</table>
  </div>
  </div>
</div>


        </body>
</html>